body{background-color: #222222;}

/* DOMINO */
#my-flash-wrapper 		{float:left; width:100%;}

/* Video Player */
#video-player-wrapper 	{float:left; width:100%; margin:75px 0px 0px 0px;}
#video-player 			{position:relative; z-index:2; margin:0 auto; width:800px;}