<?xml version="1.0"?>
<config>
    <modules>
        <Delorum_Client>
            <version>0.1.0</version>
        </Delorum_Client>
    </modules>
    <frontend>
        <routers>
            <client>
                <use>standard</use>
                <args>
                    <module>Delorum_Client</module>
                    <frontName>client</frontName>
                </args>
            </client>
        </routers>
    </frontend>
    <global>
        <models>
            <client>
                <class>Delorum_Client_Model</class>
                <resourceModel>client_resource</resourceModel>
            </client>
            <client_resource>
                <class>Delorum_Client_Model_Resource</class>
                <entities>
                    <client>
                        <table>client_detail</table>
                    </client>
                </entities>
            </client_resource>
        </models>
        <resources>
            <client_setup>
                <setup>
                    <module>Delorum_Client</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </client_setup>
            <client_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </client_write>
            <client_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </client_read>
        </resources>
    </global>
</config>