<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
        <Delorum_Vladmin>
            <version>0.2.0</version>
        </Delorum_Vladmin>
    </modules>
    <frontend>
        <routers>
            <vladmin>
                <use>standard</use>
                <args>
                    <module>Delorum_Vladmin</module>
                    <frontName>vladmin</frontName>
                </args>
            </vladmin>
        </routers>
    </frontend>
    <admin>
        <routers>
			<vladmin>
				<use>admin</use>
				<args>
					<module>Delorum_Vladmin</module>
					<frontName>vladmin</frontName>
				</args>
			</vladmin>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<vladmin module="vladmin">
				<title>Site Manager</title>
				<sort_order>71</sort_order>
				<children>
					<attributes>
						<title>Template Definition</title>
						<children>
							<set>
								<title>Templates</title>
								<action>vladmin/adminhtml_set/</action>
							</set>
							<attribute_list>
								<title>Attributes</title>
								<action>vladmin/adminhtml_attribute/</action>
							</attribute_list>
						</children>
					</attributes>
					<templates>
						<title>Manage Content</title>
						<action>vladmin/adminhtml_template/</action>
					</templates>
				</children>      
			</vladmin>
		</menu>
		<acl>
			<resources>
				<admin>
                    <children>
						<vladmin>
							<title>Site Manager</title>
							<children>
								<attributes>
									<title>Template Definition</title>
									<children>
										<set>
											<title>Templates</title>
										</set>
										<attribute_list>
											<title>Attributes</title>
										</attribute_list>
									</children>
								</attributes>
								<templates>
									<title>Manage Content</title>
								</templates>
							</children>
						</vladmin>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<global>
		<blocks>
			<vladmin>
				<class>Delorum_Vladmin_Block</class>
			</vladmin>
		</blocks>
		<helpers>
			<vladmin>
				<class>Delorum_Vladmin_Helper</class>
			</vladmin>
		</helpers>
		<models>
			<vladmin>
				<class>Delorum_Vladmin_Model</class>
				<resourceModel>vladmin_mysql4</resourceModel>
			</vladmin>
			<vladmin_mysql4>
                <class>Delorum_Vladmin_Model_Mysql4</class>
                <entities>
                    <template>
                        <table>vladmin_template_entity</table>
                    </template>
                    <template_collection_order>
                    	<table>vladmin_template_entity_collection_order</table>
                    </template_collection_order>
                </entities>
            </vladmin_mysql4>
		</models>
		<resources>
            <vladmin_setup>
                <setup>
                    <module>Delorum_Vladmin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vladmin_setup>
            <vladmin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vladmin_write>
            <vladmin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vladmin_read>
        </resources>
        <events>
        	<vladmin_entity_attribute_save_before>
       			<observers>
	        		<vladmin_set_backend_models>
        				<type>singleton</type>
						<class>vladmin/eav_entity_attribute_observer</class>
						<method>setBackendModels</method>
        			</vladmin_set_backend_models>
       			</observers>
        	</vladmin_entity_attribute_save_before>
        </events>
        <cache>
            <types>
            	<vladmin_template translate="label" module="vladmin"><label>Flash Templates</label></vladmin_template>
            </types>
        </cache>
	</global>
</config>