
/* ACL COMPONENT */
.acl-container															{margin:0; padding:0; width:100%;}
.acl-container .top-bar													{margin:20px 0; padding:0; width:100%; overflow:hidden;}
.acl-container .top-bar .grey-line										{margin:10px 0; padding:0; width:100%; height:1px; background-color:#d4d4d4;}
.acl-container .top-bar a												{margin:0 20px 0 0; padding:0; color:#F79431; font-size:13px; text-decoration:underline; display:block; float:left;}
.acl-container .top-bar a:hover											{text-decoration:none;}
.acl-container .list-section											{margin:0; padding:0; clear:both;}
.acl-container .list-section ul											{margin:0; padding:0; list-style-type:none;}
.acl-container .list-section ul li										{margin:0; padding:0 0 10px 0; color:#3E3F40; font-size:12px;}
.acl-container .list-section ul ul										{padding-left:30px;}