
/* FIFTY-FIFTY CONTAINER */
.fifty-fifty-container							{margin:0; padding:0; width:100%; overflow:hidden;}
.fifty-fifty-container .fifty-left				{margin:0; padding:0 .5%; width:49%; float:left;}
.fifty-fifty-container .fifty-right				{margin:0; padding:0 .5%; width:49%; float:right;}
