
/* THIRTY-SEVENTY CONTAINER */
.thirty-seventy-container						{margin:0; padding:0; width:100%; overflow:hidden;}
.thirty-seventy-container .thirty-left			{margin:0; padding:0 .5%; width:29%; float:left;}
.thirty-seventy-container .seventy-right		{margin:0; padding:0 .5%; width:69%; float:right;}
